In [27]:
import pandas as pd
import numpy as np
import math as math

In [3]:
terror_attack = pd.read_csv('terrorismData.csv')
td = terror_attack.copy()

In [4]:
td.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [5]:
td.fillna(0, inplace = True)
td.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,0,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,0,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",0,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,0,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,0.0,0.0,U.S. Embassy,0,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,0.0,0.0,U.S. Consulate,0,Unknown,Government (Diplomatic),Incendiary

Question 1: The most dangerous city in jammu and kashmir and the terrorist group which is most 
active in that city , print count of number of attacks in that city as integer value. (Terror Attack City)

In [6]:
# city in jammu kashmir and most active terrorist group in that city
jk = td[td.State == "Jammu and Kashmir"]
city_freq = jk['City'].value_counts()
most_dan_city = jk['City'].mode()
most_dan_city = most_dan_city.to_string(index=False)
print("The city which is more frequent to terror attack is :", most_dan_city)
print("The count of terror attacks in ", most_dan_city, " is: ", city_freq.max())


# most active group

tgroup = jk[jk.City == "Srinagar"]
most_ag = tgroup[tgroup.Group != 'Unknown' ]
mag = most_ag['Group'].value_counts().nlargest(1)
mag = mag.index
for val in mag:
    mag = val
print("Most active group in ", most_dan_city, " is ", mag)

The city which is more frequent to terror attack is : Srinagar
The count of terror attacks in  Srinagar  is:  657
Most active group in  Srinagar  is  Muslim Separatists

Question 2: Country with highest number of terror attacks and in which year most of terrorist attack happened in that country. print count of terror attacks as integer value.

In [7]:
def f(s):
    
    for s in s:
        s = s
    return s

# country which is most frequent to terror attacks
max_count = td['Country'].value_counts().nlargest(1)
# country name
country_name = max_count.index
country_name = f(country_name)

# number of attacks
num_of_attacks = max_count.to_string(index = False)

print("Country with highest number of terror attacks is ", country_name, " with total ", num_of_attacks," number of attacks between 1970 and 2017.")

country = td[td.Country == country_name]
max_year = country['Year'].value_counts().nlargest(1)
num_attacks_in_max_year = max_year.to_string(index = False)
max_year = max_year.index
max_year = f(max_year)
print(max_year, "had the most attacks in", country_name, "with a total of ", num_attacks_in_max_year, "incidents.")

Country with highest number of terror attacks is  Iraq  with total  24636  number of attacks between 1970 and 2017.
2014 had the most attacks in Iraq with a total of  3933 incidents.

Question 3: Most deadliest attack and count of people killed in that attack

In [8]:
# most deadliest means in which maximum number of people were killed

most_deadliest = td['Killed'].max()

data_most_deadliest = td[td.Killed == most_deadliest]

print("Most deadliest attack was the attack in ", data_most_deadliest['Country'].to_string(index = False), "in the year", data_most_deadliest['Year'].to_string(index = False), "in which", data_most_deadliest['Killed'].to_string(index = False), "people were killed.")

Most deadliest attack was the attack in  Iraq in the year 2014 in which 1570.0 people were killed.

Question 4: There was a formation of new government in India on 26 may, 2014. So, current government's span if from 26th may 2014 to current. <br>Find out two things from this period - <br>
1. Total number of attacks done in this period in India. Find this count as integer.<br>
2. Which terrorist group was the most active in this period in India. Most active<br> means, group which has done maximum number of attacks.<br><br> Ignore the unknown group

In [9]:
In_India = td[td.Country == 'India']
In_India = In_India[In_India.Group != "Unknown"]
In_India = In_India[In_India.Year >= 2014]
In_India = In_India[In_India.Year <=2017]

# Total number of attacks
total_no_of_attacks = In_India.shape[0]        # gives the total number of rows

# most active terrorist group in this period in india
most_active_tg = In_India['Group'].value_counts().nlargest(1)

most_active_tg = most_active_tg.index
for x in most_active_tg:
    most_active_tg = x
most_active_tg


print("Total number of terrorist attacks that happened in India between 2014 and 2017 is ", total_no_of_attacks,",")
print("and the", most_active_tg, "was the most active terrorist group during this period")

Total number of terrorist attacks that happened in India between 2014 and 2017 is  2334 ,
and the Maoists was the most active terrorist group during this period

Question 5: Find the frequency of the casualty in Red Corridor states and in jammu and kashmir ? <br>
Here frequency is ( Total Casualty / Total Number of a year ) <br>
Print frequency as integer value<br>
Note: Red corridor state includes Jharkhand, Odisha, Andra Pradesh and Chattisgarh.<br>
Here casualty = killed + wounded. Don't fill the nan value present in killed and wounded feature<br>

In [30]:
td = terror_attack.copy()
total_killed = td["Killed"].sum()
total_wounded = td["Wounded"].sum()
total_casuality = total_killed + total_wounded
 
    
y = td['Year'].value_counts()
y = y.sum()

frequency = total_casuality / y
frequency = math.floor(y)
print("Required frequency is", frequency)

Required frequency is 181691